<!-- Adding review -->

{% extends "base.html" %}
{% block title %}Add Review{% endblock %}

{% block content %}
    <div class="container justify-content-left align-items-center">
        <div class="results">
            <form method="POST" enctype="multipart/form-data">
        <div class="border">
            <div class="results">
                <form method="POST">
                <div class="results">
                    <div class="row"> 
                        <h2>Building Name: {{current_building}} </h2>
                        <h2>Room Name: {{current_room}} </h2>
                    </div>
                </div>

                <div class="row"> 
                    <!-- Prompt for user rating -->
                    <h2>Rate Your Experience: </h2>

                    <!-- Stars for review -->
                    <!-- <div class="rating">
                          <input type="radio" name="stars" id="star1" value="5"/>
                          <label for="star1"><br>

                          <input type="radio" name="stars" id="star2" value="4"/>
                          <label for="star2"></label>
                      
                          <input type="radio" name="stars" id="star3" value="3"/>
                          <label for="star3"></label>
                      
                          <input type="radio" name="stars" id="star4" value="2"/>
                          <label for="star4"></label>
                      
                          <input type="radio" name="stars" id="star5" value="1"/>
                          <label for="star5"></label>
                    </div> -->
                    <div class="rating">
                        <input class ="star-1" type="radio" name="stars" id="star1" value="1"><label for="star1"></label>
                        <input class ="star-2" type="radio" name="stars" id="star2" value="2"><label for="star2"></label>
                        <input class ="star-3" type="radio" name="stars" id="star3" value="3"><label for="star3"></label>
                        <input class ="star-4" type="radio" name="stars" id="star4" value="4"><label for="star4"></label>
                        <input class ="star-5" type="radio" name="stars" id="star5" value="5"><label for="star5"></label>
                    </div>
                </div>

                <div class="row">
                    <!-- Prompt for users to add rating -->
                    <h2>Write your Review:</h2>
                </div>

                <div class="row">
                    <!-- Declare input limits for user -->
                    <textarea name ="reviewTextbox" id="reviewTextbox" placeholder="Character Limit: 500" cols="160" rows="10" maxlength="500"></textarea>
                </div>
                <div class="row">
                    <!-- Allow users to uplpad pictures + prompt -->
                    <h4>Add Pictures: </h4>
                    <input class="fileUploadPicture" type="file" multiple id="picTaken" name="picTaken" accept="image/*">
                </div>
                <div class="row">
                    <!-- Prompt for users to add feature words -->
                    <h4>Add Features (write a semicolon after every feature):</h4>
                </div>

                <div class="row">
                    <!--  Allow users to add features -->
                    <input class="writeFeatures" type="text" id="featureList" name="featureList" placeholder="Write Features Here (Character Length: 200)" maxlength="200"> 
                </div>

                <!-- Extra spacing at the end -->
                <div class="row"><pre></pre></div>
                <div class="row">
                    <button class="btn-lg btn-primary">Submit</button>
                </div>  
                </form>              
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}