{% extends "base.html" %}
{% block title %}RPI Classroom Rater{% endblock %}


{% block content %}
<!-- Search for Room -->
<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="results">
                <h1>RPI Classroom Rater</h1>
            </div>
            <form method="POST" action="/addRoom">
            <div class="search"> 
                <em class="fa fa-search"></em> 
                <input type="search" class="form-control" placeholder="Enter Building Name" id="buildingSearch" name="building">                                                     
            </div>
            <div class="search"> 
                <em class="fa fa-search"></em> 
                <input type="search" class="form-control" placeholder="Enter Room or Features separated by Comma" id="roomSearch" name="room"> 
            </div>
            <div class="query_2">
                <button class="btn btn-primary">Search</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}