<!-- Display room info -->
{% extends "base.html" %}
{% block title %}View Room{% endblock %}


{% block content %}
<div class="border">
    <div class="container justify-content-left align-items-center">
        <form method="POST">

        <div class="results">

            <div class="row"> 
                <h2>Building Name: {{current_building}} </h2>
                <h2>Room Name: {{current_room}} </h2>
            </div>
        </div>
    </div>

    
    <div class="container justify-content-left align-items-center">
        <div class="results">
            <div class="row">
                <img src = {{userImages[0].filename}} alt="Featured Picture Here"/>
            </div>

            <!-- Link to create review page -->
            <div class="row">
                <a href= "/createReview"><button class="btn-lg btn-primary">Add Review </button></a>
            </div>
            <!-- Extra spacing at the end -->
            <div class="row">
                <pre></pre>
            </div>
        </div>
    </div>

    <!-- Display features of the room -->
    <div class="container_px-4">
        <div class="row gx-5">
            <div class="col">
                <div class="customBorder">{{allFeatures[0]}}</div>
            </div>
            <div class="col">
                <div class="customBorder">{{allFeatures[1]}}</div>
            </div>
            <div class="col">
                <div class="customBorder">{{allFeatures[2]}}</div>
            </div>
        </div>
    </div>

    <!-- Other information -->
    <div class="container justify-content-left align-items-center">
        <div class="results">
            <!-- Rating number -->
            <div class="row"> 
                <h2>Overall Rating: </h2>
                <span class = "ratingNumber">{{avgRating}}</span>
            </div>
            <div class="row">
                <h2>Written Reviews: </h2>
            </div>
            
            {% for item in userShowReview %}
               {{item.written_review}}<br>
            {% endfor %}
            </div>

            <!-- Display extra pictures -->
            <div class="row gx-5">
                <div class="col">
                    
                    
                    {% for item in userImages %}
                        <li> <img src = "uploads/{{item.filename}}" width = "500" height = "600"></li>
                    {% endfor %}
                </div>

            </div>

            <!-- Extra spacing at the end -->
            <div class="row">
                <pre></pre>
            </div>
        </div>
        </form>
    </div>

</div>
<br>
{% endblock %}