<!-- Display room info -->
% extends "base.html" %}
{% block title %}View Room{% endblock %}


{% block content %}

<div class="container justify-content-left align-items-center">
    <div class="results">

        <div class="row"> 
            <h2>Building Name: {{current_building}} </h2>
            <h2>Room Name: {{current_room}} </h2>
        </div>
    </div>
</div>


<div class="container justify-content-left align-items-center">
    <div class="results">
        <div class="row">
            <img src ="main_DCC.jpg" alt="Featured Picture Here"/>
        </div>

        <!-- Link to create review page -->
        <div class="row">
            <a href= "/createReview"><button class="btn-lg btn-primary">Add Review </button></a>
        </div>
        <!-- Extra spacing at the end -->
        <div class="row">
            <pre></pre>
        </div>
    </div>
</div>

<!-- Display features of the room -->
<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-4 border bg-light">{{allFeatures[0]}}</div>
        </div>
        <div class="col">
            <div class="p-4 border bg-light">{{allFeatures[1]}}</div>
        </div>
        <div class="col">
            <div class="p-4 border bg-light">{{allFeatures[2]}}</div>
        </div>
    </div>
</div>

<!-- Other information -->
<div class="container justify-content-left align-items-center">
    <div class="results">
        <!-- Rating number -->
        <div class="row"> 
            <h2>Overall Rating: </h2>
            <span class = "ratingNumber">{{avgRating}}</span>
        </div>

        <!-- Link to all reviews -->
        <div class="row">
            <a href="listReviews.html" alt="Link to all Reviews"><h2>View all reviews</h2></a>
        </div>

        <!-- Need to do: When "Pictures" is clicked, where does it go; -->
        <!-- Link to all pictures -->
        <div class="row">
            <a href="listPictures.html" alt="Link to all Pictures"><h2>Pictures (3)</h2></a>
        </div>

        <!-- Display extra pictures -->
        <div class="row gx-5">
            <div class="col">
                <img src="extra_1.jfif" alt="Extra Image_1" />
            </div>
            <div class="col">
                <img src="extra_1.jfif" alt="Extra Image_1" />
            </div>
            <div class="col">
                <img src="extra_1.jfif" alt="Extra Image_1" />
            </div>
        </div>

        <!-- Extra spacing at the end -->
        <div class="row">
            <pre></pre>
        </div>
    </div>
</div>



{% endblock %}